.Title {
    position:absolute;
    top: 0;
    max-height: 50px;
    width: 100%;
    background-color: steelblue;
    color: white;
    text-align: center;
    border: 1px solid cadetblue;
    font-size: 18px;
}