.Box {
    position: relative;
    width: 40%;
    min-height: 250px;
    max-height: 250px;
    float: left;    
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;    
    margin-left: 5%;
    margin-top: 20px;
    padding:0;
}